body {
    position: relative;
    background: #FFFFFF;
    margin-left: 85px;
    margin-top: 120px;
}

header {
    border-bottom: 1px solid #C4C4C4;
    height: 291px;
}

.personell-information {
    display: flex;
}

.personell-information p {
    margin-right: 10px;
}

.container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    padding-top: 50px;
}

.left {
    width: 429px;
    height: 626px;
    margin-right: 80px;
}

.right {
    width: 608px;
    height: 538px;
}

.yellow-box {
    background: #E8C734;
    text-align: center;
    padding: 10px 0px;
    width: 26.5%;
    color: #424243;
    font-family: 'Roboto', 'sans-serif';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}

.about {
    margin-top: 35px;
}

.about .yellow-box {
    padding: 10px 31px;
}

.right .yellow-box {
    padding: 10px 15px;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 80px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #424243;
}

h2 {
    font-family: 'Roboto', 'sans-serif';
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 5px;
    text-transform: capitalize;
    color: #424243;
    margin-top: -17px;
}

header p {
    font-family: 'Roboto', 'sans-serif';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 50px;
    text-transform: capitalize;
    color: #9C9C9C;
}

.container p {
    color: #424243;
    font-family: 'Roboto', 'sans-serif';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 32px;
    margin-top: 30px;
}

.date {
    font-family: 'Roboto', 'sans-serif';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 130%;
}

.right p {
    font-family: 'Roboto', 'sans-serif';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 130%;
    color: #9C9C9C;
    margin-top: 51px;
}

.right h2 {
    font-family: 'Roboto', 'sans-serif';
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 130%;
    color: #424243;
    margin-top: 24px;
}

.right h3 {
    font-family: 'Roboto', 'sans-serif';
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 130%;
    color: #424243;
    margin-top: -12px;
    margin-bottom: -35px;
}

.description p {
    font-family: 'Roboto', 'sans-serif';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 160%;
    padding-top: 10px;
}

.experience {
    margin-bottom: 61px;
}

footer {
    background: #E8C734;
    width: 110%;
    height: 50px;
    top: 1435px;
    margin-left: -85px;
    position: absolute;
}